# Ambiente local
DATABASE_URL="postgresql://rotinar:rotinar@localhost:5432/rotinar?schema=public"
DIRECT_URL="postgresql://rotinar:rotinar@localhost:5432/rotinar?schema=public"
PORT=3333
WEB_ORIGIN="http://localhost:5173"
JWT_SECRET="dev-secret-change-me"
NODE_ENV="development"